*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #333, rgb(76, 99, 76));
}


h1 {
    font-size: 70px;
    color: #f1f1f1;
    margin: 40px 0 50px 0;
    text-align: center;
}


form, .affichage {
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    min-width: 400px;
}


input {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
}


.affichage {
    display: flex;
    justify-content: center;
}


.carte {
    width: 500px;
    height: auto;
    position: relative;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 5px;
    background: #f1f1f1;
}


.avatar {
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #000;                   /* Si pas d'image */
    border: 1px solid black;
}


h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}


.cont-infos {
    border-top: 1px dashed black;
    margin-top: 20px;
    list-style-type: none;
}


li {
    padding: 10px 20px;
    text-align: justify;
    font-size: 22px;
}


li:nth-child(1) {
    margin-top: 15px;
}


